<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Analítico do Portal da BH Sul</title>

  <link rel="stylesheet" href="../public/css/metro.min.css">
  <link rel="stylesheet" href="../public/css/metro-responsive.min.css">  
  <style type="text/css">
    .page-content {
      padding-top: 80px;
    }
  </style>
</head>

<body>
  <div>
    <header class="app-bar fixed-top" data-role="appbar">
      <a class="app-bar-element branding">Dashboard Analítico do Portal da BH Sul</a>	
    </header>
  </div>

  <div class="container page-content">
    <div class="panel">
      <div clas="heading">
        <span class="title">Usuários Ativos</span>
      </div>
      <div class="content">{{num-usuarios-ativos}}</div>
    </div>
    <h1>teste3</h1>
  </div>
</body>

</html>
